{% macro display_menu_item(item, loop) %}
    {% from _self import display_menu_item %}
    {% if item.submenu is defined %}

        <div class="ui dropdown item">
        <a class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if item|current %} active{% endif %}" href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}>
            {{item.label}}

        </a>
            <div class="menu">
                {% for submenu in item.submenu %}
                    {{ display_menu_item(submenu, loop) }}
                {% endfor %}
            </div>
        </div>

    {% else %}

        <a class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if item|current %} active{% endif %} item" href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}>
            {{item.label}}
            <div class="menu">
                {% for submenu in item.submenu %}
                    {{ display_menu_item(submenu, loop) }}
                {% endfor %}
            </div>
        </a>

    {% endif %}
{% endmacro %}

{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}
